html {
    color-scheme: dark;
}

#navbar {
    display: flex;
    justify-content: right;
    background-image: url("../assets/grass_block_side.png");
    background-size: 44px;
    image-rendering: pixelated;
    height: 100%;

}

.logo {
    width: 40px;
    height: auto;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    transition: 0.3s;
}

.logo:hover {
    transform: scale(1.1);
}

#navbar-logos {
    display: flex;
    justify-content: right;
    gap: 5px;
}